body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('img/fondo.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* La imagen se adapta para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* La imagen permanece fija al hacer scroll */
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el fondo cubra el 100% del alto de la pantalla */
}


.background-video {
    position: fixed; /* Fija el video en la posición */
    top: 0; /* Alinea el video a la parte superior */
    left: 0; /* Alinea el video a la parte izquierda */
    width: 100%; /* Asegura que el video cubra todo el ancho */
    height: 100%; /* Asegura que el video cubra toda la altura */
    object-fit: cover; /* Asegura que el video cubra el área sin distorsión */
    z-index: -1; /* Envía el video al fondo */
}

.top-button-container, .title-container, .product-list, .button-container {
    position: relative; /* Asegura que el contenido esté en un nivel superior al video */
    z-index: 1; /* Eleva el contenido por encima del video */
    color: rgb(0, 0, 0); /* Cambia el color del texto para mayor visibilidad */
}

.title-container {
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
}

h1 {
    font-family: 'Oswald', sans-serif; /* Fuente seleccionada */
    font-size: 2em; /* Tamaño del texto */
    color: #faf0f0; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra para un efecto de profundidad */
    margin: 0; /* Elimina el margen por defecto */
}


.button-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 15px 0; /* Separación vertical entre los botones */
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    background-color: #000000;
    border: 2px solid white; /* Borde negro de 2 píxeles */
    border-radius: 5px;
    width: 200px; /* Ancho fijo para que todos los botones tengan el mismo tamaño */
    text-align: center;
}


        .button-container-1 {
            position: fixed; /* Fija la posición del contenedor */
            bottom: 20px; /* Espacio desde la parte inferior */
            right: 20px; /* Espacio desde la parte derecha */
            z-index: 1000; /* Asegura que esté por encima de otros elementos */
        }

        .whatsapp-button {
            display: inline-block; /* Asegura que se trate como un bloque en línea */
            width: 80px; /* Ancho del botón */
            height: 80px; /* Altura del botón */
            background-color: transparent; /* Fondo transparente */
            border: none; /* Sin borde */
            cursor: pointer; /* Cambia el cursor a puntero */
            outline: none; /* Sin contorno al hacer clic */
        }

        .whatsapp-icon {
            width: 100%; /* Hacer que la imagen ocupe todo el botón */
            height: auto; /* Mantiene la proporción de la imagen */
        }

.product-list {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

.product-list li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-name {
    font-weight: bold;
    font-size: 1.2em;
}

.product-price {
    font-size: 1.2em;
    color: #007bff;
}
.product-description {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}

.logo-container {
    text-align: center; /* Centra la imagen del logo */
    margin-top: 30px;
}

.logo {
    max-width: 50%; /* Asegura que el logo no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción del logo */
}
